android/app/google-services.json
android/app/build.gradle.kts
*.jks
android/key.properties
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

node_modules/

build/

.dart_tool/

*.jks

android/key.properties

android/app/google-services.json

serviceAccountKey.json

lib/services/AuthKey_FRC567QY63.p8
*.p8
